body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
  }
  
  .container {
    margin-top: 50px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #888888;
  }
  
  img {
    max-width: 100%;
  }
  
  h1 {
    font-size: 36px;
    font-weight: bold;
    margin-top: 0px;
  }
  
  p {
    font-size: 18px;
  }
  
  .btn-primary {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: #4CAF50;
    border-color: #4CAF50;
  }
  
  .btn-primary:hover {
    background-color: #3e8e41;
    border-color: #3e8e41;
  }
  .logo{
    width: 100px;
  }
  .logo-foot{
    width: 250px;
  }