.logo{
  width: 100px;
}

.logo-foot{
  width: 250px;
}

body{
  padding: 20px;
  text-align: center;
  background-color: white;
}


.pageGame_item{
  width: 350px;
  height: 250px;
  border: 1px solid black;
  margin: 15px;
  text-align: center;
  line-height: 150px;
  
}

.content{
  box-shadow: 0px 0px 10px #888888;
}

.carousel-item {
  transition: transform 0.5s ease-in-out;
}

.row{
  justify-content: center;
}

.home, .reg, .log, .bar{
  font-size: large;
  font-family: sans-serif;
}
