/* Estilos personalizados */
#register-form, #login-form {
	background-color: #f5f5f5;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #ccc;
}

/* Estilos para móviles */
@media (max-width: 768px) {
	#register-form, #login-form {
		margin: 0 auto;
		margin-top: 20px;
	}
}
